body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-right: 45px;
}

.container {
    width: 100%;
    margin: auto;
    border: 2px solid black;
    padding: 4px 20px 20px 20px;
    line-height: 1.6;
    height: 450px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Agar elemen tetap di kiri */
}

.header img {
    /* margin-right: 15px;  */
    margin-bottom: -800px;
    margin-left: 110px;
}

.header .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Membuat teks rata kanan */
    margin-left: 60px;
    /* Mendorong teks ke kanan */
    margin-top: -19px;
}

.header p {
    margin: 2px;
}

.header .title {
    font-size: 14px;
    font-weight: bold;
}

.line {
    border-bottom: 2px solid black;
    margin: 10px 0;
}

.content {
    margin-top: 10px;
}

label {
    display: inline-block;
    width: 150px;
    /* Sesuaikan lebar sesuai kebutuhan */
    text-align: left;
    /* Menyelaraskan teks ke kiri */
    margin-left: 35px;
}

.titik_dua {
    display: inline-block;
    width: 20px;
    /* Menambahkan ruang untuk titik dua */
    text-align: center;
    /* Memastikan titik dua ada di tengah */
}

span {
    display: inline-block;
    text-align: left;
}

.checkbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    margin-right: 5px;
}

.signature-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.signature p {
    margin: 5px 0;
}

.dibuat {
    text-align: right;
    margin-top: 20px;
}